@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {

  --limeGreen: #54e6af;
  --darkBlue: #2c344b;
  --blackBlue: #121725;
  --white: #ffffff;
  --mostlyDarkBlue: #5a668a;
  --lightBlue: #c2cbe5;
  --oops: #fb3e3e;
  --buttonHover: #b3ffe2;
}

html {
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Chivo", sans-serif;
  font-size: 1rem;
  line-height: 28px;
  font-weight: 300;
  background-color: var(--blackBlue);
  overflow: hidden;
  height: 100vh;
  max-height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 2560px;
  height: 100%;
  max-height: 1024px;
  width: 100%;
  max-height: 85vh;
  background-color: var(--blackBlue);
  background: url("../desktop/image-host.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 60% 100%;
  margin-left: 10%;
}

header {
  transform: translate(52%, -50%);
}

.left-container {
  background-color: var(--blackBlue);
  margin-left: 5%;
  max-width: 100%;
  width: 30%;
  margin-top: 0%;
}

article {
  background-color: var(--blackBlue);
  margin-right: -45%;
  width: 139%;
  padding-top: -16%;
  padding-bottom: 12%;
  margin-bottom: -13%;
}

article h1 {
  padding-top: 11%;
  font-size: 3.25rem;
  line-height: 3.875rem;
  font-weight: 300;
  width: 100%;
  max-width: 665px;
  color: var(--limeGreen);
  text-transform: uppercase;
}

article p {
  font-size: 1.125rem;
  line-height: 2.125rem;
  font-weight: 300;
  opacity: 40%;
  max-width: 445px;
  width: 100%;
  color: var(--lightBlue);
  padding-top: 10%;
  padding-bottom: 10%;
}


.everywhere {
  color: var(--white);
  text-transform: uppercase;
}


.input {
  background-color: var(--darkBlue);
  color: var(--white);
  border: none;
  border-radius: 28px;
  padding: 1rem;
  cursor: pointer;
  font-size: 0.875rem;
  max-width: 440px;
  width: 100%;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
  outline: none;
}

.btn {
  color: var(--blackBlue);
  font-family: "Chivo", sans-serif;
  background-color: var(--limeGreen);
  border-radius: 28px;
  box-shadow: 0 2px 4px;
  padding: 0.5rem;
  font-size: 0.875rem;
  cursor: pointer;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
  margin-left: -8.3rem;
  outline: none;
}

.article-buttons {
  display: inline;
  margin-bottom: 10%;
  position: relative;
}

.btn:hover {
  cursor: pointer;
  background: var(--buttonHover);
}

.oops {
  margin-top: 5px;
  color: var(--oops);
  font-size: 0.75rem;
  display: inline;
  margin: 10px;
  padding: 10px;
  position: absolute;
  left: -2%;
  bottom: -310%;
  font-weight: bolder;
}



footer {
  padding-top: 5%;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end ;
  width: 100%;
  max-width: 125px;
}

.footer-logo img {
  filter: invert(39%) sepia(16%) saturate(932%) hue-rotate(187deg) brightness(95%) contrast(85%);
  margin-right: 35%;
}

  .pattern {
    position: absolute;
    bottom: 2vh;
    right: 0;
  }

    
  /******************************* Media Query *********************************/
  @media only Screen and (max-width: 1440px) {
    body {
      background-size: 70% 100%;
    }
    
    header {
      transform: translate(-4%, -50%);
    }
    
    .left-container {
      margin-left: 0%;
      width: 56%;
      margin-top: 5%;
    }
   
    article {
      width: 111%;
      padding-top: 3%;
    }

    article p {
      padding-top: 3%;
      padding-bottom: 7%;
      margin-bottom: -2%;
  }
    article h1 {
      padding-top: 7%;
      width: 106%;
    }

    .btn {
      margin-bottom: 4%;
    }

    footer {
      padding-top: 2%;
    }

    }
  

  /*************************** Large Screens max-width 1024 ***************************/
  @media only Screen and (max-width: 1024px) {
    .container {
      margin-left: 0;
      background: url('../tablet/image-host.jpg');
      background-position: right top;
      background-repeat: no-repeat;
      margin-top: -9.375rem;      
    }

    header {
      transform: translate(35%, 86%);
    }

    .left-container {
      margin-left: 5%;
    }

    article h1 {
      font-size: 3rem;
      line-height: 3.5rem;
      padding-top: 9%;
    }

    article p {
      padding-top: 5%;
      padding-bottom: 7%;
      margin-bottom: -1%;
      line-height: 1.75rem;
    }
   
    .pattern {
      position: absolute;
      bottom: 10vh;
      right: 0;
    }
  }

  /************************** Large Screens max-width 820 **************************/
  @media only Screen and (max-width: 820px) {
    .container {
      margin-left: 0;
      background: url('../tablet/image-host.jpg');
      background-position: right top;
      background-repeat: no-repeat;
      margin-top: -9.375rem;      
    }

    header {
      transform: translate(35%, 86%);
    }

    .left-container {
      margin-left: 5%;
      width: 74%;
      margin-top: 4%;
    }

    article {
      width: 113%;
      padding-top: 0%;
    }

    article h1 {
      font-size: 3rem;
      line-height: 3.5rem;
      padding-top: 16%;
    }

    article p {
      padding-top: 5%;
      padding-bottom: 7%;
      margin-bottom: -1%;
      line-height: 1.75rem;
    }

    .article-buttons {
      padding-bottom: 0;
    }

    footer {
      padding-top: 2%;
      padding-bottom: 17%;
    }

    .pattern {
      position: absolute;
      bottom: 2vh;
      left: 4vh;
    }
  }
  /********************* Tablet Screens max-width 768 *********************/
  @media only Screen and (max-width: 768px) {
    article {
    width: 112%;
    padding-top: 5%;
    }
  }
  
   /********************* Phone Screens max-width 375 *********************/
   @media only Screen and (max-width: 375px) {
    body {
      background-image: url("../mobile/image-host.jpg");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: cover;
     
    }

    body::before {
      content: "";
      background-color: var(--blackBlue);
      opacity: 0.9;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    header {
      margin-top: 9%;
      margin-left: 18%;
      /* transform: translate(50%, 40%); */
    }

    .container {
      background: none;
      text-align: center;
      padding: 0;
    }

    .left-container {
      background: none;
      z-index: 10;
    }

    article {
      background: none;
      display: grid;
      height: auto;
      max-height: 100%;
      grid-template-areas: 
      "first"
      "second"
      "third"
      "fourth";
    }

    article h1 {
      grid-area: first;
      font-size: 1.625rem;
      line-height: 2.375rem;
      width: 118%;
      max-width: 327px;
      font-weight: lighter;
    }

    article p {
      grid-area: second;
      font-size: 0.938rem;
    }

    .pattern {
      display: none;
    }

    .article-buttons {
      grid-area: fourth;
      display: grid;
      grid-template-areas: 
      "input"
      "button"
      "oops";
      gap: 25%;
      margin: 5px 0;
    }

    .input {
      grid-area: input;
      width: 108%;
      max-width: 400px;
      
      margin: 1px auto;
    }

    .btn {
      grid-area: button;
      width: 108%;
      max-width: 370px;
      height: 100%;
      max-height: 46px;
      margin: 1px auto;
    }

    .oops {
      grid-area: oops;
      position: absolute;
      top: 1%;
    }

    .footer-logo {
      grid-area: third;
      margin-top: 2%;
    }

    .footer-logo img {
      height: 15px;
      width: auto;
      margin-right: 15%;
    }

    .oops {
    margin-top: 1px;
    color: var(--oops);
    font-size: 0.75rem;
    }
  }
    

  /********************* Phone  Screens Orientation max-width 667 *********************/
  @media Screen and (max-width: 667px) and (orientation: landscape) {
     body {
      max-height: 100%;
      overflow-y: scroll;
    }

    header {
      transform: translate(22%, 86%);
    }

    .left-container {
      width: 48%;
      margin-top: 14%;  
    }

    article h1 {
      grid-area: first;
      font-size: 1.5rem;
      line-height: 2rem;
      width: 118%;
      max-width: 327px;
      font-weight: lighter;
    }

    article p {
      font-size: 1rem;
    }

    footer {
      margin-top: 20%;
    }

    .pattern {
      display: none;
    }

  }
  

  