@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --limeGreen: #54e6af;
  --darkBlue: #2c344b;
  --blackBlue: #121725;
  --white: #ffffff;
  --mostlyDarkBlue: #5a668a;
  --lightBlue: #c2cbe5;
  --oops: #fb3e3e;
  --buttonHover: #b3ffe2;
}

html {
    overflow: hidden;
}

body {
  font-family: "Chivo", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  padding-left: 5%;
  background-color: var(--blackBlue);
  overflow: hidden;
  height: 100vh;
  max-height: 100%;
}

/*********** Main Container *************/
.container {
  height: 100%;
  width: 100%;
  /* min-width: 1440px;
  min-height: 670px; */
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: var(--blackBlue);
}


/*********** Logo *************/
.logo {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  color: var(--white);
  background-color: var(--blackBlue);
  position: relative;
  top: 7vh;
  left: 10vh;
  cursor: pointer;
}


/*********** Left container with  article  *************/
.left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding-top: 5rem;
  padding-right: 12rem;
  background-color: var(--blackBlue);
  position: relative;
  top: 6rem;
  left: 6rem;
  z-index: 100;
}

article {
  height: 50vh;
  margin-top: 187px;
  padding-right: 80px;
}

article h1 {
  font-size: 52px;
  line-height: 62px;
  font-weight: 300;
  width: 155%;
  color: var(--limeGreen);
  text-transform: uppercase;
  margin-top: -190px;
}

article p {
  font-size: 1.125rem;
  padding-top: 1rem;
  line-height: 34px;
  margin-bottom: 3rem;
  color: var(--lightBlue);
  margin-top: 50px;
  width: 80%;
}

.everywhere {
  color: var(--white);
  text-transform: uppercase;
}


/*********** Input and Buttons *************/

.article-buttons {
  position: absolute;
  top: 60%;
}

.input {
  background-color: var(--darkBlue);
  color: var(--white);
  border: none;
  border-radius: 28px;
  padding: 1rem;
  cursor: pointer;
  font-size: 0.875rem;
  width: 440px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
}

.btn {
  font-family: 'Chivo', sans-serif;
  background-color: var(--limeGreen);
  border-radius: 28px;
  box-shadow: 0 2px 4px;
  padding: 0.5rem;
  font-size: 0.875rem;
  cursor: pointer;
  position: absolute;
  top: 10%;
  left: 71%;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
}

.btn:hover {
  cursor: pointer;
  background: var(--buttonHover);
}

.oops {
  margin-top: 5px;
  color: var(--oops);
  font-size: 0.75rem;
  position: absolute;
  left: 3%;
}


/*********** Footer *************/

footer {
  position: absolute;
  bottom: 13%;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
}

.footer-logo img:nth-child(2) {
  margin-left: 5vh;
}

.footer-logo img:nth-child(3) {
  margin-left: 5vh;
}

.footer-logo img:nth-child(4) {
  margin-left: 5vh;
}

.d-none {
    display: none;
}


/*********** Righ Container with image and pattern *************/
.right-container {
  width: 100vw;
  height: 80%;
  z-index: 0;
  padding-right: 5%;
}

.background-desktop-img {
  background: url("../desktop/image-host.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  width: 61%;
  position: absolute;
  top: 10vh;
  right: 0;
}

.pattern {
  position: absolute;
  bottom: -4vh;
  right: 2vh;
}


/*********** Media Query *************/

/* Large Screens max-width 1440 */
@media only Screen and (max-width: 1440px) {
  .left-container {
    left: 5rem;
  }

  .article h1 {
    margin-top: -206px;
  }

  article p {
    margin-top: 1px;
    width: 94%;
  }

  .article-buttons {
    top: 55%;
  }

  footer {
    position: absolute;
    bottom: 21.5%;
  }

  .pattern {
    bottom: -5vh;
    height: 13%;
  }
}

/* Small Screens max-width 1024 */
@media only Screen and (max-width: 1024px) {
    body {
        padding-left: 0;
    }
    

    .left-container {
        padding-top: 1rem;
    }

    article {
        padding-right: 4px;
    }

    article h1 {
        font-size: 37px;
    }

    article p {
        font-size: 1rem;
        padding-top: 26px;
        width: 96%;
    }

    .input {
        width: 376px;
        padding: 0.8rem;
    }

    .btn {
        font-size: 11px;
    }
}

/* Tablet Screens max-width 768 */
 @media only Screen and (max-width: 768px) {  
    .logo {
        left: 4vh;
        top: 5.5vh;
    }

   .left-container {
      padding-top: 0;
      left: 2rem;
      top: 1rem;
  }
  .right-container {
    padding-right: 0;
  }  

  .background-desktop-img {
    position: absolute;
    top: 0vh;
    height: 74vh;
    width: 67%;
}

.pattern {
    display: none;
}

.d-none {
    display: initial;
    position: absolute;
    bottom: -228px;
}
    article {
        padding-right: 201px;
        height: 44vh;
    }

    article h1 {
        width: 190%;
        margin-top: -132px;
    }

    article p {
        margin-top: 10px;
        width: 156%;
    } 

    footer {
        bottom: 17.5%;
    }

    .footer-logo {
        margin-top: -4rem;
    }

}

/* Phone Screens max-width 375 */
@media only Screen and (max-width: 375px) {
  body {
    background-image: url("../mobile/image-host.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: cover;
    
}

body::before{
    content: "";
    background-color: var(--blackBlue);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.9;
}

.logo {
  background: none;
  top: 9.5vh;
  left: 2vh;
}

.container {
  background: none;
}

.left-container {
  background: none;
  margin-left: auto;
  margin-right: auto;
  top: -2rem;
  left: 1rem;
}

.right-container {
  display: none;
}

article h1 {
  font-size: 26px;
  line-height: 38px;
  text-align: center;
}

article p {
  width: 177%;
  text-align: center;
  line-height: 25px;
  font-size: 15px;
  padding-top: 18px;
}

.article-buttons {
  top: 75%;
}

.input {
  width: 325px;
}

.btn {
  position: absolute;
  top: 159%;
  left: 1%;
  width: 325px;
  font-size: 0.875rem;
}

.footer-logo {
  margin-top: -6rem;
}  


.footer-logo img {
  height: 19%;
  width: 19%;
  justify-content: space-evenly;
}

.oops {
  bottom: -23.5px;
}

.footer-logo img:nth-child(1) {
  margin-left: -20px;
}

.footer-logo img:nth-child(2) {
  margin-left: -20px;
}

.footer-logo img:nth-child(3) {
  margin-left: -20px;
  height: 25%;
  width: 25%;
}

.footer-logo img:nth-child(4) {
  margin-left: -20px;
  height: 25%;
  width: 25%;
}

.d-none {
  display: none;
}

} 

/* Phone  Screens Orientation max-width 667 */
@media  Screen and (max-width: 667px) and (orientation: landscape ) {
  body {
      background-image: url("../mobile/image-host.jpg");
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-position: cover;
      
  }

  body::before{
      content: "";
      background-color: var(--blackBlue);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.9;
  }

  .logo {
      background: none;
      
  }

  .container {
      background: none;
      text-align: center;
  }



  .left-container {
      background: none;
      margin-left: auto;
  margin-right: auto;
   
  }

  article {
      margin: 0 auto;
  }

  article h1 {
      font-size: 34px;
      line-height: 40px;
      width: 214%;
      margin-top: -104px;
  }

  article p {
      margin-top: -15px;
      width: 220%;
      font-size: 14px;
  }

  .article-buttons {
    top: 70%;
    left: -1%;
  }
  

  .right-container {
      display: none;
  }

}

/* Phone Screens max-width 414 */
@media only Screen and (max-width: 375px) {
  
}

